<% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %><section>
    <div class="container-fluid">
        <h3>404 ERROR</h3>
        <p>page not found</p>
    </div>
</html>