<% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %><section>
    <div class="container-fluid">
        <h3>Page Down</h3>
        <p>we are currently working on the page, you can refresh after some mins</p>

    </div>
</html>