<div class="bd-example" style="height: 480px; background-color: rgba(255,0,0,0.1);">
    <div id="carouselExampleCaptions" class="carousel slide h-100" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
                <img src="https://ozonecinemas.com/wp-content/uploads/2019/08/good_guy.jpg" class="d-block w-100 h-100" alt="image 1">
            </div>
            <div class="carousel-item  h-100">
                <img src="https://ozonecinemas.com/wp-content/uploads/2019/08/ready_not.jpg" class="d-block w-100 h-100" alt="image 1">
            </div>
            <div class="carousel-item h-100">
                <img src="https://ozonecinemas.com/wp-content/uploads/2019/08/besieged.jpg" class="d-block w-100 h-100" alt="image 1">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>