<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-around m-2" style="width: 100%;">
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000368?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1">
                        <div class=" text-white p-3 mx-3 mb-3" style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                            <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                        </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000407?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1"> 
                        <div class=" text-white p-3 mx-3 mb-3"
                            style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                                <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                        </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000403?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1"> 
                        <div class=" text-white p-3 mx-3 mb-3"
                            style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;"> 
                            <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                        </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000410?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1"> 
                    <div class=" text-white p-3 mx-3 mb-3"
                        style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;"> 
                        <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-around m-2" style="width: 100%;">
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000418?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1">
                    <div class=" text-white p-3 mx-3 mb-3"
                        style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                        <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000406?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1">
                    <div class=" text-white p-3 mx-3 mb-3"
                        style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                        <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000405?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1">
                    <div class=" text-white p-3 mx-3 mb-3"
                        style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                        <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-3" style="max-height: 300px; position: relative">
                    <img class="w-100 h-100 rounded"
                        src="https://tickets.filmhouseng.com/CDN/media/entity/get/FilmPosterGraphic/HO00000414?referenceScheme=HeadOffice&allowPlaceHolder=true"
                        class="d-block w-100" alt="image 1">
                    <div class=" text-white p-3 mx-3 mb-3"
                        style="position:absolute; font-size: 17px; font-weight: 700; background: #000000c7; text-align: center; bottom: 0; right: 0; left:0;">
                        <a style="color: white; font-size: 17px; font-weight: 700" href="#">Trailer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>