<div class="text-white  bg-black p-3" style="background: #2f343a; border-top: 2px solid #cecece29" >
    <ul class="row justify-content-between" style="line-height: 4;" >
        <li class="col-lg-3 col-md-6 text-center"> <img src="/images/logo1.png" style="width:150px; height: auto" alt=""></li>
        <li class="col-lg-3 col-md-6 p-2 text-center  footerContent"> <h3>Company <i class="fas fa-arrow-alt-circle-down"></i></h3></li>
        <li class="col-lg-3 col-md-6 p-2 text-center footerContent "> <h3>Terms and Condition <i class="fas fa-arrow-alt-circle-down"></i></h3></li>
        <li class="col-lg-3 col-md-6 p-2 text-center footerContent "> <h3>Legal <i class="fas fa-arrow-alt-circle-down"></i></h3></li>
    </ul>
</div>