*:focus{
    outline: none
}

body{
    padding: 0;
    margin: 0;
    background: #eeeeee;
    font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

nav{
    padding: 10px 5px;
    background: #ff5733;
}



a{
    /* text-decoration: none; */
    font-size: 15px;
    font-weight: 600;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem #ff583352
}

 nav a:hover, nav .submit:hover{
    text-decoration: none !important;
    background: white;
    color: #ff5733 !important;
    border-radius: 4px;
}

li> a{
    color: white;
}

.admin-con{
    width: 100%;
    margin-bottom: 30px;
}

.admin-con> .all-movies{
    display: flex;
    justify-content: space-evenly;
}

.all-movies> .movie{
    padding: 10px;
    background: white;
    width: 25%;
    /* border: 1px solid #ff5733; */
    border-radius: 5px;
}

.all-movies> .movie> .image{
    height: 300px;
}

.movie> .image img{
    width: 100%;
    max-height: 100%;
}

.flex-dsp{
    display: flex;
    justify-content: space-between
}

.btns{
    padding: 5px 15px;
    background: white;
    /* border: 1px solid #ff5733; */
    color: #ff5733;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btns> span{
    vertical-align: middle;
    line-height: 30px;
}

.submit{
    margin: 0;
    background: #ff5733;
    border: none;
    font-weight: 600;
    color: white;
    font-size: 14px;
}