
.form> form{
    margin: 20px;
    background: white;
    padding: 20px;
    width: 30%;
    margin: auto
}

input{
    width : 100%;
    background: rgb(229, 225, 225);
    color: black;
    border: none;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    margin-left: 0px;
}

.dark-bg{
    background: rgb(229, 225, 225);
}

label{
    font-size:12px
}

.button{
    border: 1px solid #ff5733;
    background: white;
    color: #ff5733;
    font-weight: 600;
}

.title:hover{
    color:#ff5733
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem #ff583352;
    border-color: #ff583352;
}

.button:hover{
    background: #ff5733;
    color: white;
}