<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheet/comingSoon.css">
<link rel="stylesheet" href="/stylesheet/owl.theme.default.min.css">
<link rel="stylesheet" href="/stylesheet/owl.carousel.min.css">
</head>

    <body class="container-fluild bg-dark" onload="loadData()">
        <span id='data' hidden>
            <%= JSON.stringify(movies) %>
        </span>
        <% include ../partials/header %>
        <section>
            <% include ../partials/carousel %>
            <div class="row justify-content-center p-4 text-white">
                <div class="col-sm-2 text-right" style="margin-right: 30px">
                    <div class="days-select-div">
                    </div>
                    <div class="text-white text-right pr-0">
                        <h3 class=""> <span class="underline">Choose Days</span></h3>
                        <ul class="py-3 days-li">
                            <li><a href="/allmovies/monday">Monday</a></li>
                            <li><a href="/allmovies/tuesday">Tuesday</a></li>
                            <li><a href="/allmovies/wednesday">Wednesday</a></li>
                            <li><a href="/allmovies/thursday">Thursday</a></li>
                            <li><a href="/allmovies/friday">Friday</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <% if(movies.length > 0) {%>
                        <% movies.forEach(function(movie, index){ %>
                        <div class="movie">
                            <% include ../partials/movieCard %>
                        </div>
                        <% }) %>
                    <% }else { %>
                        <div>
                            <h2> No movie registered yet</h2>
                        </div>
                       <% } %>
                   
                </div>
            </div>
        </section>
        <section class="comingSoon">
            <% if(comingSoon.length >= 4){ %>
                <% include ../partials/comingSoonCard %>
            <% } else {%>
                <div class="p-3">
                    <h3 class="text-white">No data for comingsoon yet</h3>
                    <p class="text-muted">or data found is not up to 4 yet</p>
                </div>
            <% } %>
        </section>
            <% include ../partials/footer %>
        <script src="/javascript/comingSoon.js"></script>
        <script src="/javascript/owl.carousel.min.js"></script>
        <% include ../partials/script %>
    </body>
</html>s