<% include ../partials/head %>
<link rel="stylesheet" href="/stylesheet/singleMovie.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="bg-dark text-white">
    <% include ../partials/header %>
    <h1>payment page here</h1>
    <% include ../partials/booked/ticketConfirmation %>

    <script src="/javascript/payment.js"></script>
    <% include ../partials/script %>
</body>

</html>